:host {
  display: block;
  min-height: 100vh;
  font-family: sans-serif;
  background: black;
}

nav {
  padding: 1rem;
  background: transparent;
  position: absolute;
  z-index: 1;
}

a {
  color: whitesmoke;
}
